/* CONFIGURAÇÕES GERAIS */

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #EEEEFB;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

i {
    text-decoration: none;
    text-align: center;
    color: white;
}

/* TOPO */

#barra {
    content: "";
    display: block;
    width: 100%;
    background: #715aff;
    height: 15px;
}

#header {
    text-align: center;
    padding: 40px;
    font-family: Lato;
    padding-top: 90px;
}

#avatar img {
    border-radius: 50%;
    border-color: #00ad9b;
    border-width: 3px;
    border-style: solid;
}

.nome {
    font-family: Lato;
    font-size: 34px;
    color: #715aff;
    padding: 10px;
    text-transform: uppercase;
}

#descricao {
    font-family: Roboto;
    font-weight: 300;
    color: #00ad9b;
    font-size: 33px;
    padding-bottom: 30px;
    margin: auto;
}

#social {
    margin: auto;
}

#social a{
    background-image: url(img/social-bg.png);
    padding: 8px 14px;
    background-position: center;
    background-repeat: repeat-y;
    font-size: 25px;
}

/*  CONTEÚDO */

.content1 {
    width: 63%;
    margin: auto;
    padding: 100px;
    align-content: center;
}
.content1 p {
    font-size: 25px;
    color: #715aff;
    width: 100%;
    margin: auto
}

.content1, .content2 p {
    max-width: 1000px;
}

.content1 img {
    width: 35%;
    padding: 30px;
    min-width: 265px;
    margin: auto;
}

.content2 p{
    width: 63%;
    font-size: 25px;
    color: white;
    margin: auto;
    padding: 45px;
}

.clear {
    clear: both;
}
.content2 {
    background-color: #715aff;
}

.portfolio {
    text-align: center;
    padding-top: 50px;
}

/* FORMULÁRIO */

.formulario {
    padding-top: 50px;
    width: 63%;
    margin: 0 auto;
    justify-self: center;
    display: table;
}

.formulario input, textarea {
    height: 50px;
    border: 2px solid #715aff;
    border-radius: 4px;
    width: 60%;
    font-family: Lato;
    font-size: 16px;
    line-height: 50px;
    color: #715aff;
    background-color: white;
    background-clip: padding-box;
    padding-left: 10px;
    outline: none;
    margin: 0 auto;
    display: table;
    

}

textarea{
    height: 150px;
    display: block;
    line-height: 1.5em;
    resize: none;
}

.submit {
    background-color: #715aff;
    border: none;
    color: white;
    display: block;
    padding: 16px 32px;
    border-radius: 5px;
    text-decoration: none;
    margin: 4px auto 1px;
    cursor: pointer;
    width: 61.5%;
}

form label {
    font-family: Lato;
    font-weight: 700;
    font-size: 16px;
    color: #715aff;
    padding-top: 10px;
    padding-bottom: 3px;
    padding-left: 20px;
    margin: 0 auto;
    display: block;
    width: 63%;
}

/* RODAFOOT */

.rodape {
    text-transform: uppercase;
    background: #715aff;
    text-align: center;
    color: white;
    padding: 10px;
    margin-top: 100px;
    clear: right;
}
